{% extends 'master.html' %} {% load static %}
<!-- Title -->
{% block title %}Jobs{% endblock %}
<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
<link rel="stylesheet" href="{% static 'css/jobs.css' %}" />
{% endblock %}
<!-- Main -->
{% block content %}
<main>
  <!-- Left section -->
  <aside class="left-section">
    <!-- Filter Jobs Section -->
    <div class="filter-box">
      <i class="fa-solid fa-filter filter-icon"></i>
      <input type="text" placeholder="Filter jobs..." class="filter-input" />
    </div>

    <!-- Social Media Updates Section -->
    <div class="social-media-box">
      <h3>Social Media Updates</h3>
      <div class="social-update">
        <i class="fa-brands fa-twitter icon"></i>
        <p>Latest job opportunities in #WebDevelopment...</p>
      </div>
      <div class="social-update">
        <i class="fa-brands fa-linkedin icon"></i>
        <p>Join our tech community on LinkedIn...</p>
      </div>
      <div class="social-update">
        <i class="fa-brands fa-facebook icon"></i>
        <p>Join our tech community on Facebook...</p>
      </div>
      <div class="social-update">
        <i class="fa-brands fa-instagram icon"></i>
        <p>Join our tech community on Instagram...</p>
      </div>
    </div>
    <div class="announcement-box">
      <h1>Announcement</h1>
      <div class="ad-box lf-annc-box">
        <!-- Video 1 -->
        <div class="ad-video-container active">
          <video id="video1" autoplay muted>
            <source
              src="https://cdn.yellowmessenger.com/QnhdnAlDdVA01734691830688.mp4"
              type="video/mp4"
            />
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="ad-video-container">
          <video id="video2" muted>
            <source
              src="https://cdn.yellowmessenger.com/QnhdnAlDdVA01734691830688.mp4"
              type="video/mp4"
            />
            <!-- Ensure the video URL is correct -->
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <p>This is a sample test for announcement</p>
      <br />
    </div>
    <section class="text-section-left">
      <!-- <h1
            style="
              font-weight: bold;
              color: black;
              margin-bottom: 10px;
              margin-top: -5px;
            "
          >
            This is the sample text replication
          </h1> -->
      <!-- First Slide -->
      <div class="slide-left">
        <img
          src="https://cdn.yellowmessenger.com/PSpMKlSDepdi1735210401540.png"
          alt="City View"
          class="city-image-left"
        />
      </div>

      <!-- Second Slide -->
      <div class="slide-left">
        <img
          src="https://cdn.yellowmessenger.com/awWcKeyMtYYX1735210522831.png"
          alt="Boost Your Team"
          class="city-image-left"
        />
      </div>

      <!-- Third Slide -->
      <div class="slide-left">
        <img
          src="https://cdn.yellowmessenger.com/WNC3rncek4B61735210555680.png"
          alt="Post Your Jobs"
          class="city-image-left"
        />
      </div>

      <!-- Fourth Slide -->
      <div class="slide-left">
        <img
          src="https://cdn.yellowmessenger.com/ePnzGFUzrasA1735210652173.png"
          alt="Post Your Jobs"
          class="city-image-left"
        />
      </div>

      <!-- Fifth Slide -->
      <div class="slide-left">
        <img
          src="https://cdn.yellowmessenger.com/tVydGqHwo3Le1735210676452.png"
          alt="Post Your Jobs"
          class="city-image-left"
        />
      </div>

      <!-- Sixth Slide -->
      <div class="slide-left">
        <img
          src="https://cdn.yellowmessenger.com/r6jrnKSConXC1735210701475.png"
          alt="Post Your Jobs"
          class="city-image-left"
        />
      </div>
    </section>
  </aside>

  <!-- Modal pop up for provide quote -->
  <div
    id="quoteModal"
    class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
  >
    <div
      class="bg-white rounded-lg shadow-lg w-full max-w-2xl mx-auto p-10 relative"
    >
      <!-- Close Button -->
      <button
        onclick="closeModal()"
        class="absolute top-4 right-4 text-gray-500 hover:text-gray-700"
      >
        <i class="fa-solid fa-xmark text-2xl"></i>
      </button>

      <!-- Modal Header -->
      <div class="text-center mb-6">
        <div class="flex justify-center items-center mb-2">
          <i class="fa-solid fa-paper-plane text-blue-500 text-3xl mr-2"></i>
          <h1 class="text-2xl font-bold text-blue-500">Apply</h1>
        </div>
        <h3 class="text-lg font-semibold text-gray-800">Apply for Project</h3>
        <p class="text-sm text-gray-600">
          Provide the required information to apply for this project.
        </p>
      </div>
      <!-- Form -->
      <form id="quoteForm" method="POST" action="{% url 'submit_quote' %}">
        <!-- Budget Field -->
        {% csrf_token %}
        <input type="hidden" id="quote_opportunityId" name="opportunity_id" />
        <input type="hidden" id="quote_title" name="title" />
        <input type="hidden" id="quote_currency" name="currency" />
        <input type="hidden" id="quote_cur_symbol" name="cur_symbol" />
        <div class="mb-4">
          <label for="budget" class="block text-sm font-semibold text-gray-700">
            Budget <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="budget"
            name="budget"
            placeholder="Budget: Estimation to complete the project"
            required
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>

        <!-- Timeline Field -->
        <div class="mb-4">
          <label
            for="timeline"
            class="block text-sm font-semibold text-gray-700"
          >
            Estimated Time to Complete the Project
            <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="timeline"
            name="time_estimation"
            placeholder="E.g., 3 Months"
            required
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>

        <!-- Comments Field -->
        <div class="mb-6">
          <label
            for="comments"
            class="block text-sm font-semibold text-gray-700"
          >
            Comments
          </label>
          <textarea
            id="comments"
            name="comments"
            placeholder="Queries related to scope of the project or tools & licenses"
            class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          ></textarea>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full bg-gradient-to-r from-blue-600 to-blue-800 text-white font-bold py-2 px-4 rounded-md cursor-pointer"
        >
          Submit Quotation
        </button>
      </form>
    </div>
  </div>

  <!-- Not a fretured jobs -->
  <div class="flex">
    <section class="featured-jobs">
      <div class="ctnr">
        <div class="job-cards">
          {% for job in jobs %}
          <div class="job-card border p-4 mb-4 rounded shadow">
            <div class="job-title font-bold text-lg">
              {{ job.title }}
              <span class="job-id text-gray-500"
                >(Opp ID: {{ job.opportunityId }})</span
              >
            </div>
            <div class="job-duration-salary text-sm text-gray-700">
              <span class="duration">⏳ {{ job.duration }}</span>
              <span class="salary ml-4"
                >💳 {{job.cur_symbol}} {{ job.budget }}</span
              >
            </div>
            <p class="job-description text-gray-600 mt-2">
              {{ job.description }}
            </p>
            <div class="job-tags mt-2">
              {% for tag in job.skills_list %}
              <span class="tag bg-blue-100 text-blue-700 px-2 py-1 rounded"
                >{{ tag }}</span
              >
              {% endfor %}
            </div>
            <div class="job-actions mt-3">
              <button
                class="text-blue-500 underline"
                hx-post="{% url 'load_job_details' %}"
                hx-vals='{"job_id": "{{ job.opportunityId }}"}'
                hx-target="#tailwind-popup-content"
                hx-swap="innerHTML"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                onclick="tailwindOpenModal()"
              >
                View More
              </button>
              <button
                class="btn btn-primary provide-quote bg-blue-500 text-white px-4 py-2 rounded ml-2"
                onclick="openModal('{{ job.opportunityId }}')"
              >
                Provide Quote
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>

  <!-- Toggle right offcanvas of view more button  -->
  <div
    id="tailwind-overlay"
    class="fixed inset-0 bg-black bg-opacity-50 z-50 hidden"
  >
    <div
      id="tailwind-popup"
      class="fixed right-0 top-0 h-full w-[600px] bg-white shadow-2xl overflow-hidden z-50 hidden"
    >
      <div
        id="tailwind-popup-header"
        class="flex justify-between items-center p-6 border-b"
      >
        <div class="flex items-center space-x-2">
          <i class="fa-solid fa-bolt text-blue-600 text-2xl"></i>
          <span class="text-xl font-bold text-blue-600">Gigzera</span>
        </div>
        <button
          id="tailwind-close-drawer"
          class="text-gray-500 hover:text-gray-700"
        >
          <i class="fa-solid fa-xmark text-xl"></i>
        </button>
      </div>
      <div
        id="tailwind-popup-content"
        class="p-6 h-[calc(100vh-180px)] overflow-y-auto"
      >
        <!-- Dynamic content coming from the job_details_partial page -->
        <div
          id="tailwind-popup-footer"
          class="absolute bottom-0 left-0 right-0 p-6 bg-white border-t"
        >
          <button
            class="w-full py-3 px-6 bg-gradient-to-r from-blue-600 to-white-600 text-white rounded-lg font-medium hover:from-blue-700 hover:to-blue-700 transition-all"
            onclick="openModal()"
          >
            Apply Now
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Section -->
  <aside class="right-section">
    <!-- First Ad Box: Two Videos -->
    <div class="ad-box">
      <div class="ad-slideshow">
        <!-- Video 1 -->
        <div class="ad-video-container active">
          <video id="video1" autoplay muted>
            <source
              src="https://cdn.yellowmessenger.com/QnhdnAlDdVA01734691830688.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="ad-video-container">
          <video id="video2" autoplay muted>
            <source
              src="https://cdn.yellowmessenger.com/mV64DYgpzy811734694758683.mp4"
              type="video/mp4"
            />
            <!-- Ensure the video URL is correct -->
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>

    <!-- Second Ad Box with Image Slideshow -->
    <a href="https://www.intellectdivi.com/" target="_blank">
      <div class="ad-box">
        <div class="ad-slideshow">
          <div class="ad-image-container">
            <img
              src="https://cdn.yellowmessenger.com/OGJDayjMR4n81734681557269.jpeg"
              alt="Recruitment Advertisement"
            />
          </div>
          <div class="ad-image-container">
            <img
              src="https://cdn.yellowmessenger.com/eRzOfCc5uSsT1734681543395.jpg"
              alt="Recruitment Advertisement"
            />
          </div>
          <div class="ad-image-container">
            <img
              src="https://cdn.yellowmessenger.com/kfrb0QFTEeqN1734681632235.png"
              alt="Recruitment Advertisement"
            />
          </div>
        </div>
      </div>
    </a>

    <!-- Third Ad Box with Image Slideshow -->
    <div class="ad-box">
      <div class="ad-slideshow">
        <div class="ad-image-container active">
          <img
            src="https://cdn.yellowmessenger.com/ocAAFbuz3O7V1734681661220.jpeg"
            alt="Job Training Advertisement"
          />
        </div>
        <div class="ad-image-container">
          <img
            src="https://cdn.yellowmessenger.com/92ZENQocsyCi1734681673376.jpg"
            alt="Job Training Advertisement"
          />
        </div>
        <div class="ad-image-container">
          <img
            src="https://cdn.yellowmessenger.com/wtJ0zcKfJzFW1734681690293.jpeg"
            alt="Job Training Advertisement"
          />
        </div>
      </div>
    </div>
  </aside>
</main>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{% static 'js/fl_jobs.js' %}"></script>
{% endblock %}
