/* General styles */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, sans-serif;
}

/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
} */

/* Centered box styles */
.login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0px auto;
}

.login-box {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h1 {
    font-size: 1.8rem;
    color: #0056ff;
    margin-bottom: 0.5rem;
}

.login-box p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.login-box input {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-box input:focus {
    border-color: #0056ff;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #0056ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0044cc;
}

.login-box .links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.login-box .links a {
    color: #0056ff;
    text-decoration: none;
}

.login-box .links a:hover {
    text-decoration: underline;
}


/* Styling for the alert banner */
.alert-banner {
    background-color: #dc2626;
    /* Red background */
    color: white;
    /* White text */
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
}

/* Message text */
.alert-message {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* Close button */
.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

.close-btn:hover {
    opacity: 0.7;
}