{% extends 'ad_base.html' %} {% load static %}
<!-- title -->
{% block title %}User Managements{% endblock %}
<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/ad_adminManagement.css' %}" />
<link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
{% endblock %}
<!-- main content -->
{% block content %}
<div class="ctnr">
  <div class="main-content">
    <div class="header">
      <input type="text" placeholder="Search by Name or Account ID" />
      <button id="invite-user">+ Invite User</button>
    </div>

    <table id="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>User ID</th>
          <th>Email ID</th>
          <th>Role</th>
          <th>Action</th>
          <!-- Added Action column -->
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr
          data-admin-id="{{ user.adminId }}"
          data-name="{{ user.name }}"
          data-email="{{ user.email }}"
          data-role="{{ user.user_role }}"
        >
          <td>{{user.name}}</td>
          <td>{{user.adminId}}</td>
          <td>{{user.email}}</td>
          <td
            class="{% if user.user_role_ == 'admin' %}text-green-600{% else %}text-blue-600{% endif %}"
          >
            {{ user.user_role }}
          </td>
          <td class="td-btns">
            <button class="edit-btn"><i class="fas fa-edit"></i> Edit</button>
            <form
              action="{% url 'ad_deleteAdmin' %}?adminId={{user.adminId}}"
              method="POST"
            >
              {% csrf_token %}
              <button
                class="delete-btn"
                type="submit"
                onclick="return confirm('Are you sure you want to delete this admin?')"
              >
                <i class="fas fa-trash-alt"></i> Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <button>Previous</button>
      <button>1</button>
      <button>2</button>
      <button>3</button>
      <button>Next</button>
    </div>
  </div>
</div>

<!-- Modal for inviting users -->
<!-- <div class="modal" id="invite-modal">
  <div class="modal-content">
    <h2>Invite User to Admin Portal</h2>
    <label for="username">User Name</label>
    <input type="text" id="username" placeholder="Enter User Name" />
    <label for="account-id">Email Id</label>
    <input type="email" id="account-id" placeholder="Enter Account ID" />
    <label for="role">Assign Role</label>
    <select id="role">
      <option value="Admin">Admin</option>
      <option value="Super Admin">Super Admin</option>
    </select>
    <button class="add-btn" id="send-invitation">Send Invitation</button>
    <button class="cancel-btn" id="cancel">Cancel</button>
  </div>
</div> -->

<!-- <form action="{% url 'ad_addAdmin' %}" method="POST">
  {% csrf_token %}
  <div
    id="invite-modal"
    class="hidden fixed inset-0 bg-white-100 bg-opacity-50 flex justify-center items-center z-50 backdrop-blur-sm"
  >
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
      <h2 class="text-xl font-semibold text-gray-800 mb-4 text-center">
        Invite User to Admin Portal
      </h2>

      <label for="username" class="block text-sm font-medium text-gray-700"
        >Name</label
      >
      <input
        type="text"
        id="username"
        name="name"
        placeholder="Enter User Name"
        required
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-3"
      />

      <label for="account-id" class="block text-sm font-medium text-gray-700"
        >Email ID</label
      >
      <input
        type="email"
        name="email"
        id="account-id"
        required
        placeholder="Enter Email address"
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-3"
      />

      <label for="role" class="block text-sm font-medium text-gray-700"
        >Assign Role</label
      >
      <select
        id="role"
        name="userRole"
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-4"
      >
        <option value="Admin">Admin</option>
        <option value="Super Admin">Super Admin</option>
      </select>

      <div class="flex justify-end space-x-2">
        <button
          id="cancel"
          type="button"
          class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 transition"
        >
          Cancel
        </button>
        <button
          id="send-invitation"
          type="submit"
          class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition"
        >
          Send Invitation
        </button>
      </div>
    </div>
  </div>
</form> -->

<form id="invite-form" action="{% url 'ad_addAdmin' %}" method="POST">
  {% csrf_token %}
  <div
    id="invite-modal"
    class="hidden fixed inset-0 bg-white-100 bg-opacity-50 flex justify-center items-center z-50 backdrop-blur-sm"
  >
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
      <h2 class="text-xl font-semibold text-gray-800 mb-4 text-center">
        Invite User to Admin Portal
      </h2>

      <!-- User Name -->
      <label for="username" class="block text-sm font-medium text-gray-700"
        >Name</label
      >
      <input
        type="text"
        id="username"
        name="name"
        placeholder="Enter User Name"
        required
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-3"
      />

      <!-- Email ID -->
      <label for="account-id" class="block text-sm font-medium text-gray-700"
        >Email ID</label
      >
      <input
        type="email"
        name="email"
        id="account-id"
        required
        placeholder="Enter Email address"
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-3"
      />

      <!-- Assign Role -->
      <label for="role" class="block text-sm font-medium text-gray-700"
        >Assign Role</label
      >
      <select
        id="role"
        name="userRole"
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-4"
      >
        <option value="Admin">Admin</option>
        <option value="Super Admin">Super Admin</option>
      </select>

      <!-- Buttons -->
      <div class="flex justify-end space-x-2">
        <button
          id="cancel"
          type="button"
          class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 transition cursor-pointer"
        >
          Cancel
        </button>
        <button
          id="send-invitation"
          type="submit"
          class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition cursor-pointer"
        >
          Send Invitation
        </button>
      </div>
    </div>
  </div>
</form>

<!-- New model for editing admin -->
<form action="{% url 'ad_editAdmin' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" id="editAdminId" name="adminId" />
  <div
    id="edit-modal"
    class="hidden fixed inset-0 bg-white-100 bg-opacity-50 flex justify-center items-center z-50 backdrop-blur-sm"
  >
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
      <h2 class="text-xl font-semibold text-gray-800 mb-4 text-center">
        Edit User in Admin Portal
      </h2>

      <!-- User Name -->
      <label for="username" class="block text-sm font-medium text-gray-700"
        >Name</label
      >
      <input
        type="text"
        id="editName"
        name="name"
        placeholder="Enter User Name"
        required
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-3"
      />

      <!-- Email ID -->
      <label for="account-id" class="block text-sm font-medium text-gray-700"
        >Email ID</label
      >
      <input
        type="email"
        name="email"
        id="editEmail"
        required
        placeholder="Enter Email address"
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-3"
      />

      <!-- Assign Role -->
      <label for="role" class="block text-sm font-medium text-gray-700"
        >Assign Role</label
      >
      <select
        id="editRole"
        name="userRole"
        class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none mb-4"
      >
        <option value="Admin">Admin</option>
        <option value="Super Admin">Super Admin</option>
      </select>

      <!-- Buttons -->
      <div class="flex justify-end space-x-2">
        <button
          id="editCancel"
          type="button"
          class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 transition cursor-pointer"
        >
          Cancel
        </button>
        <button
          id="editUser"
          type="submit"
          class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition cursor-pointer"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
<!-- JS -->
{% block js %}
<script src="{% static 'js/ad_adminManagement.js' %}"></script>
{% endblock %}
