{% extends 'ad_base.html' %} {% load static %}
<!-- title -->
{% block title %}User Managements{% endblock %}
<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/ad_userManagement.css' %}" />
<link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
{% endblock %}
<!-- main content -->
{% block content %}
<div class="cntr">
  <!-- Main Content -->
  <!-- <main class="main-content"> -->
  <div class="header">
    <h1>User Management</h1>
    <button class="filter-btn"><span class="icon">▼</span> Filter</button>
  </div>

  <!-- This div is important for the JavaScript to work -->
  <div class="users-grid" id="usersGrid">
    {% for user in users %}
    <div class="user-card {{user.user_role}}">
      <!-- <div class="menu-dots">⋮</div> -->
      <div class="user-info">
        <img
          src="https://cdn.yellowmessenger.com/Xmnn1dek6nzZ1735637434099.jpeg"
          alt="{{user.name}}"
          class="user-avatar"
        />
        <div class="user-details">
          <h3>{{user.name}}</h3>
          <span class="user-type {{user.user_role}}">{{user.user_role_}}</span>
        </div>
      </div>
      <div class="user-role">{{user.designation}}</div>
      <a
        href="{% if user.user_role == 'freelancer' %}
            {% url 'ad_freelancerProfileView' %}?userId={{ user.userId }}
         {% else %}
            {% url 'ad_clientProfileView' %}?userId={{ user.userId }}
         {% endif %}"
        class="view-profile-btn"
        data-type="{{user.user_role}}"
        data-userId="{{user.userId}}"
        >View Profile</a
      >
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
    <button class="prev-btn">←</button>
    <button class="page-btn active">1</button>
    <button class="page-btn">2</button>
    <button class="page-btn">3</button>
    <button class="next-btn">→</button>
  </div>
  <!-- </main> -->
</div>
{% endblock %}
<!-- JS -->
{% block js %}
<script src="{% static 'js/ad_userManagement.js' %}"></script>
{% endblock %}
