.cntr {
    flex: 1;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* border: 2px solid green; */
}

.cntr::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}


::-webkit-scrollbar {
    display: none;
}