body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.cntr {
    flex: 1;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* border: 2px solid green; */
}

.cntr::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}


::-webkit-scrollbar {
    display: none;
}

/* .sidebar {
    height: 100vh;
    width: 250px;
    background-color: #1c2536;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .sidebar-header {
    font-size: 28px;
    font-weight: bold;
    padding: 30px;
    background-color: #121213;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #2e394f;
  }


  .sidebar-menu {
    flex-grow: 1;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .sidebar-menu li {
    padding: 15px 20px;
    border-bottom: 1px solid #2e394f;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }

  .sidebar-menu li:hover {
    background-color: #2e394f;
  }

  .sidebar-menu li.active {
    background-color: #30455f;
  }

  .sidebar-menu li i {
    font-size: 18px;
  }

  .sidebar-footer {
    padding: 15px 20px;
    border-top: 1px solid #2e394f;
    text-align: center;
    cursor: pointer;
  }

  .sidebar-footer:hover {
    background-color: #2e394f;
  } */

/* Main content */
#main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    #main-content {
        margin-left: 0;
    }
}

/* Toggle button */
.toggle-button {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    background-color: #1c2536;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}

.toggle-button i {
    font-size: 18px;
}

/* Scrollable content in sidebar */
/* .sidebar-menu {
    max-height: 80vh;
    overflow-y: auto;
  } */